.missions {
  padding: 20px;
}

.missions-table {
  border: 1px solid #888;
  border-collapse: separate;
  border-spacing: 0;
}

.t-rows {
  display: grid;
  grid-template-columns: 10% 63% 12% 15%;
}

tbody tr:nth-child(even) {
  background-color: #e8e8e8;
}

.t-rows > * {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

tbody {
  display: grid;
  grid-template-columns: 1fr;
}

.p-10 {
  padding: 10px 5px;
  text-align: justify;
}

.b-right {
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
}

.b-bottom {
  border-bottom: 1px solid #888;
}

.f-14 {
  font-size: 14px;
}

.member {
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  padding: 2px;
  color: #fff;
  background-color: #747474;
}

.bg-blue {
  background-color: #51a0c5;
}

.btn {
  color: #747474;
  border: 1px solid #747474;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background: none;
  margin: 10px 0;
}

.b-red {
  border-color: #eb0606;
  color: #eb0606;
}

.joined {
  width: 450px;
  border: 1px solid #b9b9b9;
  margin: 0;
}

.joined ul li {
  list-style: none;
}

@media (max-width: 700px) {
  .t-rows {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .no-mob {
    display: none;
  }
}
