nav {
  display: grid;
  grid-template-columns: 1fr auto;
}

.logo-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.active {
  text-decoration: underline;
}

nav img {
  height: 100px;
}
